$text-color: #757575;
$article-color: #212121;
$accent-color: #2196F3;
$white-color: #ffffff;
$black-color: #000000;

$main-bg: #FFFFFF;
$dark-bg: #2F303A;
$gray-bg: #F5F4FA;

$font-family-main: 'Roboto', sans-serif;
$font-size-main: 14px;
$letter-spacing-main: 0.03em;
$color: $text-color;
$background-color: $main-bg;

$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$letter-spacing-main: 0.03em;